snippet main "A simple go file"
package main

import (
	"fmt"
	$1
)
$2

func main() {
	$3
}
endsnippet

snippet printl "fmt.Println()"
fmt.Println($1)
endsnippet

snippet printf "fmt.Printf()"
fmt.Println($1)
endsnippet

snippet fu "func ()"
func ${1:name}($2) {
	$3
}

endsnippet
