
snippet uproject "A basic .uproject file"
{
	"FileVersion": 3,
	"EngineAssociation": "5.1",
	"Category": "",
	"Description": "",
	"Modules": [
		{
			"Name": "$1",
			"Type": "Runtime",
			"LoadingPhase": "Default"
		}
	]
}
endsnippet
